<style>
/* MAIN STYLING */
html{
    scroll-behavior:smooth;
    }
 
#Home{font-size: 0;height: 100%;width:100%;margin:0}
   
/*About Paragraph*/
    
h2{
    font-size: 45px; 
    float:center;
 }      
      
p{
    font-size: 30px;
    width: 20em;
    float:right; margin-right: 112px;  
    border: solid black 1px padding: 10px;" 
    text-align: middle
    />
}     
        
#About p{
    padding-top:125px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 40px;
    text-align: center}
    
      
#About h2{ 
    padding-top:-5px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 1px;
    text-align: center}
    font-family:'simplifica'
    }
    
    
    
#Portfolio p{
    padding-top:115px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 40px;
    text-align: center}
          
.text {
    font-family:'simplifica'
 }

 
      
  
    
    
    
    
/*NAVIGATION*/    

        ul {
            font-size: 15px;
        }
        
        ul li {
            display: inline-block;
            margin-left: 15px;
            text-align: center;
        }

        li a {
            color: dimgrey;
            text-decoration: none;
        }

        nav {
            top: 0;
            left: 0;
            margin-top: 1.2em;
            margin-left: -2em;
            width: 100%;
            padding: 0.01em;
            font-family: 'simplifica';
            font-weight: 900;
        }

        nav ul {
            letter-spacing: 3px;
            text-align: center;
            margin-top: 2em;
        }

        nav ul li {
            display:inline;
            padding: 0.10em;
            margin: 15px;
        }


        nav a:hover { 
            color: none
            transition: all 0.7s ease-in;
        }
    
    .wordmark{
    margin-left: 55px;
    padding-top: 13px;
        
}
  
       
 .item1{
    margin-left: 55px;
    padding-top: 13px;
        
}    
    
    
    
    
      
 .item2{
    margin-left: 55px;
    padding-top: 13px;
        
}    
    
    
    
 .item3{
    margin-left: 55px;
    padding-top: 13px;
        
}   
    
    
.item3{
    margin-left: 55px;
    padding-top: 13px;
        
}
    
.about{
        margin-left: 55px;
    padding-top: 13px;
          
        
        
    }   
    
    
    
/*Fonts*/    
body{
    font-family: "avenir next" , sans-serif;    
/*About Section*/
}
    

    
    
    
    
    
    
</style>
